---
layout: default
quote: "Quando vedo un errore di stampa, penso sempre che sia stato inventato qualcosa di nuovo."
quote-author: "J. W. Goethe"
quote-publication: Massime e riflessioni, 1833
---

  <article class="content">
    <div class="page-content">

      <div class="grid">

        <div class="col-8">

          {% assign pages = site.pages | sort:"weight"  %}
          {% for page in site.pages %}

            {{ page.indicator }}

          {% endfor %}

        </div>

        <div class="col-16">

          <figure class="quote">
            <blockquote>{{ page.quote }}</blockquote>
            <figcaption>{{ page.quote-author }}{% if page.quote-publication %}, <cite>{{ page.quote-publication }}</cite>{% endif %}</figcaption>
          </figure>

        </div>

      </div>

      <div class="animation">

        {% assign pages = site.pages | sort:"weight"  %}
        {% for page in site.pages %}

        <div class="animation__item">

          {{ page.content }}

        </div>

        {% endfor %}

      </div>

    </div>
  </article>
