---
layout: default
quote: "Quando vedo un errore di stampa,<br>penso sempre che sia stato inventato<br>qualcosa di nuovo."
quote-author: "J. W. Goethe"
quote-publication: Massime e riflessioni, 1833
---

  <article class="content home">
    <div class="page-content">

      <div class="grid">

        <div class="col-8 align-middle">

          {% include indicator.html %}

        </div><div class="col-16 align-middle">

          <figure class="quote">
            <blockquote class="u-upper"><p>{{ page.quote }}</p></blockquote>
            <figcaption>{{ page.quote-author }}{% if page.quote-publication %}, <cite>{{ page.quote-publication }}</cite>{% endif %}</figcaption>
          </figure>

        </div>

      </div>

      <div class="animation js-assign-height js-typed">

        {% assign pages = site.pages | sort:"weight"  %}
        {% for page in site.pages %}

        <div class="animation__item u-upper js-height js-typed-item" style="color: {{ page.color }}; z-index: {{ page.weight }};">

            {{ page.content }}

        </div>

        {% endfor %}

      </div>

    </div>
  </article>
