<header class="header cf">

      <nav class="nav nav__main" role="navigation">
        {% assign pages = site.pages | sort:"weight"  %}
        <ul>
          {% for p in pages %}
            {% unless p.exclude_from_nav %}
              {% if p.file %}
              <li><a target="_blank" href="{{ site.baseurl }}/assets/images/{{ p.file }}">{{ p.title }}</a></li>
              {% else %}
              <li><a{% if p.url == page.url %} class="current"{% endif %} href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
              <!-- whitespace in inline-block elements: hover was underlining whitespace -->
              {% endif %}
            {% endunless %}
          {% endfor %}
        </ul>
      </nav><div class="logo">

      <a href="{{ site.baseurl }}/"><img alt="Grafica Gioia Logo" src="/assets/images/logo.svg"></a>

    </div>

</header>
