<script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
<script defer src="/assets/js/app.min.js"></script>

<script type="text/javascript" id="cookiebanner" data-position="bottom" data-message="Continuando la navigazione del sito acconsenti all’utilizzo dei Cookie secondo la nostra " data-fontFamily="Helvetica,sans-serif" data-linkmsg="Cookie Policy" data-moreinfo="/cookie-policy/" src="/assets/js/cookiebanner.js"></script>
