// Fade in effect for pages
.page {
    opacity: 1;
    transition: 1s opacity;
    &.fade-out {
    opacity: 0;
    transition: none;
  }
}
.indicator {
  min-height: 210px;
  position: relative;
  &__item {
    @extend %font-mono-regular;
    @include font-values(300,210);
    position: absolute;
    top: 0;
    left: 0;
    &:not(.current) {
      opacity: 0.1;
    }
    .home & {
      opacity: 1;
    }
  }
}

.animation {
  position: relative;
  &__item {
    @extend %font-mono-regular;
    @include font-values(40,40);
    position: absolute;
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      margin: 0;
    }
  }
}
