// Fade in effect for pages
.page {
    opacity: 1;
    transition: 1s opacity;
    &.fade-out {
    opacity: 0;
    transition: none;
  }
}
.indicator {
  min-height: 210px;
  position: relative;
  &__item {
    @extend %font-mono-regular;
    @include font-values(300,210);
    position: absolute;
    top: 0;
    left: 0;
    &:not(.current) {
      opacity: 0.1;
    }
    .home & {
      opacity: 1;
    }
  }
}

.animation {
  position: relative;
  @include respond-to('medium') {
    margin-top: $pad;
  }
  p {
    margin-bottom: 0;
  }
  &__item {
    @extend %font-mono-regular;
    @include font-values(37,40);
    position: absolute;
    @include respond-to('small') {
      @include font-values(27,30);
    }
    @include respond-to('mob') {
      @include font-values(15,18);
    }
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      margin: 0;
    }
  }
}
.gallery__wrapper {
  margin: $pad*3 0;
  a {
    @extend %font-mono-regular;
    @include font-values(40,40);
    @include respond-to('small') {
      @include font-values(27,30);
    }
    @include respond-to('mob') {
      @include font-values(15,18);
    }
    &:hover {
      border: none;
    }
  }
}
