/// Content
.main {
  background: $bg-color;
  padding: $pad;
}
.quote {
  max-width: 420px;
  width: 50%;
  blockquote {
    @extend %font-sans-regular;
    margin: 0;
  }
  figcaption {
    @extend %font-alt-italic;
  }
}
/* Map */
.map {
  width: 100%;
  height: 500px;
  border: 6px solid #ffffff;
}
.gm-style img {
  max-width: none;
}
