/// Content
.content {
  min-height: 570px;
}
.main {
  background: $bg-color;
  padding: $pad;
}
.quote {
  width: 510px;
  @include respond-to('small') {
    @include font-values(12,15);
    max-width: 510px;
    width: 100%;
  }
  @include respond-to('mob') {
    @include font-values(9,12);
  }
  blockquote {
    @extend %font-sans-regular;
    margin: 0;
  }
  figcaption {
    @extend %font-alt-italic;
  }
}
/* Map */
.map {
  width: 100%;
  height: 500px;
  border: 6px solid $white;
}
.gm-style img {
  max-width: none;
}
