// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  padding: $pad 0;
  text-align: right;
  .logo {
    display: inline-block;
    max-width: 180px;
    width: 25%;
    vertical-align: middle;
    a {
      border: none;
      text-decoration: none;
    }
  }
}
