/// General layout
.nav {
  position: relative; // this is to prevent absolute positioned indicator to go over links
  display: inline-block;
  width: 75%;
  vertical-align: middle;
  z-index: 10; // this is to prevent absolute positioned indicator to go over links
  @include respond-to('small') {
    width: 100%;
    order: 2;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0;
    margin-right: $pad;
    @include respond-to('small') {
      margin-right: 0;
    }
    @include respond-to('mob') {
      padding: $pad / 2 0;
    }
    &:not(:last-of-type):after {
      content: '/';
      margin: 0;
      margin-left: $pad * 1.2;
      padding: 0;
      @include respond-to('small') {
        margin-left: $pad / 2;
      }
    }
  }
}
