---
layout: default
---

  <article class="content">
    <div class="page-content">

      <div class="grid">

        <div class="col-8 align-middle">

          {% include indicator.html %}

        </div><div class="col-16 align-middle">

          <figure class="quote">
            <blockquote class="u-upper"><p>{{ page.quote }}</p></blockquote>
            <figcaption>{{ page.quote-author }}{% if page.quote-publication %}, <cite>{{ page.quote-publication }}</cite>{% endif %}</figcaption>
          </figure>

        </div>

      </div>

      <div class="animation js-assign-height js-typed">

        <div class="animation__item u-upper js-height js-typed-item" style="color: {{ page.color }}; z-index: {{ page.weight }};">

          <div class="animation__string js-typed-string">

            {{ content }}

          </div>

        </div>

      </div>

      {% if page.images %}

        <div class="gallery__wrapper u-no-bullets">

          {% for image in page.images %}

            <a style="color: {{ page.color }}; z-index: {{ page.weight }};" class="gallery" rel="gallery" href="{{ image }}">{% if forloop.index0 == 0 %}Apri la gallery delle nostre realizzazioni.{% endif %}</a>

          {% endfor %}

        </div>

      {% endif %}

    </div>
  </article>
